body .div--u-i294o8vn8 {
  box-shadow: 0px 0px 0px 15px #ababab; }
  body .blocklist__item_title--u-igaz05rpu {
    margin-top: 16px; }
  @media (max-width: 640px) {
  body .div--u-ipzpxsk03 {
    background-size: contain; } }
